
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #000000;
  background-color: #02d9ff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul.topnav li {
  float: left;
  border-right: 1px solid #000000;
}

ul.topnav li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #02ffd1;
}
  
ul.topnav a.active {
  background-color: #02ffd1
}

ul.topnav li.rigth {float: right;}

@media screen and (max-width:600px) {
  ul.topnav li.rigth,
  ul.topnav li {float: none;}
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #000000;
  background-color: #02d9ff;

}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover:not(.active) {
  background-color: #02ffd1;
}

p.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #02d9ff71;
  color: white;
  text-align: center;
}
