
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #02d9ff;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(241, 241, 241);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #02d9ff;
}
  
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #02d9ff71;
  color: white;
  text-align: center;
}
